@font-face {font-family: "Quicksand Book";
  src: url("fonts/Quicksand Book.woff.eot"); /* IE9*/
  src: url("fonts/Quicksand Book.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Quicksand Book.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Quicksand Book.woff") format("woff"), /* chrome、firefox */
  url("fonts/Quicksand Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Quicksand Book.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Quicksand Bold";
  src: url("fonts/Quicksand Bold.woff.eot"); /* IE9*/
  src: url("fonts/Quicksand Bold.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Quicksand Bold.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Quicksand Bold.woff") format("woff"), /* chrome、firefox */
  url("fonts/Quicksand Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Quicksand Bold.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Grunge Sans Bold Italic";
  src: url("fonts/SF Grunge Sans Bold Italic.woff.eot"); /* IE9*/
  src: url("fonts/SF Grunge Sans Bold Italic.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/SF Grunge Sans Bold Italic.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/SF Grunge Sans Bold Italic.woff") format("woff"), /* chrome、firefox */
  url("fonts/SF Grunge Sans Bold Italic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/SF Grunge Sans Bold Italic.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Grunge Sans Italic";
  src: url("fonts/SF Grunge Sans Italic.woff.eot"); /* IE9*/
  src: url("fonts/SF Grunge Sans Italic.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/SF Grunge Sans Italic.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/SF Grunge Sans Italic.woff") format("woff"), /* chrome、firefox */
  url("fonts/SF Grunge Sans Italic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/SF Grunge Sans Italic.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Grunge Sans V1";
  src: url("fonts/SF Grunge Sans V1.woff.eot"); /* IE9*/
  src: url("fonts/SF Grunge Sans V1.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/SF Grunge Sans V1.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/SF Grunge Sans V1.woff") format("woff"), /* chrome、firefox */
  url("fonts/SF Grunge Sans V1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/SF Grunge Sans V1.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Grunge Sans V2";
  src: url("fonts/SF Grunge Sans V2.woff.eot"); /* IE9*/
  src: url("fonts/SF Grunge Sans V2.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/SF Grunge Sans V2.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/SF Grunge Sans V2.woff") format("woff"), /* chrome、firefox */
  url("fonts/SF Grunge Sans V2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/SF Grunge Sans V2.woff") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Grunge Sans";
  src: url("fonts/SF Grunge Sans.woff.eot"); /* IE9*/
  src: url("fonts/SF Grunge Sans.woff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/SF Grunge Sans.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/SF Grunge Sans.woff") format("woff"), /* chrome、firefox */
  url("fonts/SF Grunge Sans.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/SF Grunge Sans.woff") format("svg"); /* iOS 4.1- */
}

    @font-face {
    font-family: 'Takota Takota';
    font-style: normal;
    font-weight: normal;
    src: local('Takota Takota'), url('fonts/Takota.woff') format('woff');
    }